<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.trinea.android.demo"
    android:installLocation="preferExternal"
    android:versionCode="17"
    android:versionName="2.2" >

    <uses-sdk android:minSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />

    <permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name=".MyService" />
        <service android:name=".MyIntentService" />
        <service android:name=".MyIntentService2" />
        <service android:name=".MyAIDLService" >
            <intent-filter>
                <action android:name="cn.trinea.android.demo.remote.MyAIDLServiceAction" />
            </intent-filter>
        </service>

        <receiver android:name="MyBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DemoList"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchViewDemo"
            android:label="@string/search_view_demo_activity_title"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge" >
        </activity>
        <activity
            android:name=".ViewPagerMulTiFragmentDemo"
            android:label="@string/view_pager_multi_fragment_demo_activity_title"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge" >
        </activity>
        <activity
            android:name=".LogLevelDemo"
            android:label="@string/log_level_demo_activity_title"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge" >
        </activity>
        <activity
            android:name=".DownloadManagerDemo"
            android:label="@string/gallery_demo_activity_title"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge" >
        </activity>
        <activity
            android:name=".GalleryDemo"
            android:label="@string/gallery_demo_activity_title"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge" >
        </activity>
        <activity
            android:name=".ViewPagerDemo"
            android:label="@string/view_pager_demo_activity_title"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge" >
        </activity>
        <activity
            android:name=".GoogleMapDemo"
            android:label="@string/google_map_activity_title"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge" >
        </activity>
        <activity
            android:name=".BaiduMapDemo"
            android:label="@string/baidu_map_activity_title"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge" >
        </activity>
        <activity
            android:name=".IntentDemo"
            android:label="@string/intent_demo_activity_title"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge" >
        </activity>
        <activity
            android:name=".SmsManagerDemo"
            android:label="@string/sms_demo_activity_title"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge" >
        </activity>
        <activity
            android:name=".NotificationDemo"
            android:label="@string/notification_demo_activity_title"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge" >
        </activity>
        <activity
            android:name=".BroadcastReceiverDemo"
            android:label="@string/broadcastreceiver_demo_activity_title"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge" >
        </activity>
        <activity
            android:name=".ServiceDemo"
            android:label="@string/service_demo_activity_title"
            android:theme="@android:style/Theme.Holo.Light.DialogWhenLarge" >
        </activity>

        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>